services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
      MYSQL_USER: admin
      MYSQL_PASSWORD: adminadmin
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
  otel-collector:
      image: otel/opentelemetry-collector:0.120.0
      container_name: otel-collector
      restart: always
      command: ["--config=/etc/otel-collector-config.yaml"]
      volumes:
        - ./otel-config/otel-collector-config.yaml:/etc/otel-collector-config.yaml
        - ./otel-config/telemetry-data.json:/etc/telemetry-data.json
      ports:
        - "4318:4318" # OTLP http receiver
volumes:
  mysql_data: