@import 'tailwindcss';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light;
}

.container {
    width: 1200px;
    margin: 1rem auto;
    padding: 1rem;
}

h1.title {
    text-align: center;
    font-size: 2.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: white;

    .nav-section {
        display: flex;
        gap: 1rem;
        align-items: baseline;
    }
}
